* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 37.5%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  -moz-appearance: textfield;
}

input:hover,
input:focus {
  -moz-appearance: number-input;
}

body {
  background-color: lightsalmon;
  padding: 3rem;
  overflow: hidden;
}

.header__title {
  font-size: 5rem;
}

.game {
  width: 90%;
  margin: 0 auto;
  color: rgb(58, 57, 57);
  text-align: center;
  font-size: 2.5rem;
}
@media (max-width: 790px) {
  .game {
    width: 90%;
  }
}
@media (max-width: 565px) {
  .game {
    width: 100%;
  }
  .game .game__label,
.game .game__guess-area {
    display: block;
    margin-bottom: 2rem;
  }
}
.game__description {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
.game__guess-area {
  border: none;
  padding: 1.5rem 0;
  border-radius: 3rem;
  text-align: center;
  font-size: 3rem;
  margin: 0 2rem;
  width: 40%;
}
.game__guess-area:focus {
  outline: none !important;
  -webkit-box-shadow: 2px 2px 6px rgb(27, 28, 29);
          box-shadow: 2px 2px 6px rgb(27, 28, 29);
}
@media (min-width: 1024px) {
  .game__guess-area {
    width: 30%;
  }
}
@media (max-width: 565px) {
  .game__guess-area {
    margin: 0 auto;
    width: 80%;
  }
}
.game__btn {
  background-color: rgb(241, 149, 149);
  color: rgb(44, 38, 38);
  border: 1px solid rgb(107, 107, 116);
}
.game__btn_hidden {
  display: none;
}
.game__results {
  width: 80%;
  margin: 0 auto;
}
.game__congrats {
  -webkit-animation: success 0.5s ease;
          animation: success 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 10%;
  width: 10%;
  top: 60%;
  left: 40%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  border-radius: 50%;
}

.header,
.game__description,
.game__btn,
.game__form,
#guess-counter,
#result,
#advice {
  margin-bottom: 2rem;
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 3rem;
  -webkit-box-shadow: 2px 2px 6px rgb(150, 137, 137);
          box-shadow: 2px 2px 6px rgb(150, 137, 137);
  border-radius: 3rem;
  font-weight: bold;
}
.btn:active {
  -webkit-animation: main-btn 2s ease-out backwards;
          animation: main-btn 2s ease-out backwards;
}
.btn:disabled {
  cursor: auto;
  -webkit-animation: none;
          animation: none;
  color: rgb(133, 133, 133);
  border: none;
}

.success,
.failed,
.loose {
  font-size: 4rem;
  padding: 2rem;
  font-weight: bold;
  border-radius: 5rem;
}

.congrats_animation {
  display: none;
}

.success {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: rgb(71, 30, 49);
  background-color: rgb(220, 255, 220);
  -webkit-box-shadow: 2px 2px 6px rgb(82, 76, 76);
          box-shadow: 2px 2px 6px rgb(82, 76, 76);
}

.failed {
  color: rgb(253, 214, 237);
  background-color: rgb(187, 40, 40);
  -webkit-box-shadow: 1px 1px 10px rgb(5, 5, 5);
          box-shadow: 1px 1px 10px rgb(5, 5, 5);
}
.failed_animated {
  -webkit-animation: wrong 0.3s ease-out;
          animation: wrong 0.3s ease-out;
}

.loose {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 6rem;
  background-color: rgb(255, 13, 13);
  -webkit-box-shadow: 2px 2px 6px rgb(32, 32, 32);
          box-shadow: 2px 2px 6px rgb(32, 32, 32);
  color: bisque;
  border-radius: 8rem;
}

.reset-loose {
  background-color: rgb(182, 3, 3);
  color: rgb(253, 243, 232);
  -webkit-box-shadow: 2px 2px 6px rgb(32, 32, 32);
          box-shadow: 2px 2px 6px rgb(32, 32, 32);
}

.warning {
  -webkit-animation: warning 0.2s ease-out;
          animation: warning 0.2s ease-out;
}

@-webkit-keyframes main-btn {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes main-btn {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes wrong {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  80% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wrong {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  80% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes warning {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes warning {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes success {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}
@keyframes success {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}